{#
/**
 * @file
 * Default theme implementation for a rest_api_doc end-point detail.
 *
 * Available variables
 * - title: The title.
 * - children: The rendered fields.
 *
 * @see template_preprocess_interval()
 *
 * @ingroup themeable
 */
#}
<h2>{{ title }}</h2>
<div>{{ children }}</div>
