search_api.server.*:
  type: mapping
  label : 'Search server'
  mapping:
    machine_name:
      type: string
      label: 'Machine name'
    name:
      type: label
      label: 'Name'
    uuid:
      type: string
      label: 'UUID'
    description:
      type: text
      label: 'Description'
    status:
      type: boolean
      label: 'Status'
    backend:
      type: string
      label: 'Backend Plugin ID'
    backend_config:
      type: search_api.backend.plugin.[%parent.backend]
    langcode:
      type: string
      label: 'Language code'
    dependencies:
      type: config_dependencies
      label: 'Dependencies'
